*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #E1BEE7;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.contenedor {
    width: 400px;
    margin: auto;
    background: #eaeaea;
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4A148C;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #9C27B0;
}

.notas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.nota {
    width: 220px;
    background: #EA80FC;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
    position: relative;
}

.destacada {
    background: #AB47BC;
}

.iconos {
    position: absolute;
    bottom: 8px;
    right: 10px;
    cursor: pointer;
}

.iconos span {
    margin-left: 10px;
    font-size: 18px;
}
